<style>
  #notifications pre:nth-child(odd) {
    background-color: rgba(0, 200, 0, 0.1);
  }
  #notifications pre:nth-child(n+45) {
    background-color: rgba(200, 0, 0, 0.2);
  }
</style>
<details>
  <h1>params-logger</h1>
  <p>
    additional params in request ?not_matched=&with_cookies=</br>
    not_matched for ignoring "^HTTP.*|^CONTENT.*|^REMOTE.*|^REQUEST.*|^AUTHORIZATION.*|^SCRIPT.*|^SERVER.*</br>
    with_cookies for ignoring cookies cropping</br>
  </p>
  <h2>Path:</h2>
  <pre id="Path">
    <%= @path %>
  </pre>
  <h2>Params:</h2>
  <pre id="params">
    <%= @params %>
  </pre>
  <h2>Headers:</h2>
  <code id="headers">
    <% @headers_filtered.each do |header| %>
      <%= header %><br>
    <% end %>
  </code>
</details>
<h2>History:</h2>
<div id="notifications">
  <% @data.each do |item| -%>
    <pre class="jsonified"><%= item.to_json %></pre>
  <% end -%>
</div>
<script>
  $(document).ready(function(){
    $('.jsonified').each(
      function(){
        this.textContent = JSON.stringify(JSON.parse(this.textContent), undefined, 2)
      }
    )
  })
</script>
